[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest = "*"
pytest-mock = "*"
django-rest-framework = "*"
pytest-django = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
